@font-face { font-family: FontOCRB; src: url('../fonts/OcrB Regular.ttf'); }

.OCRB {
  font-family: "FontOCRB", sans-serif;
}
.OCRB_bold {
  font-family: "FontOCRB", sans-serif;
  font-weight: bold
}

.section {
     text-align:justify;
}